.menu {
    height: 42px;
    background: linear-gradient($secondary-color, $primary-color);

    .menu-item {
        height: 100%;
        padding: 0 10px;
        color: #FFF;
        border-right: 1px #FFF solid;
        display: inline-block;

        &:active { transform: translateY(1px); }

        .menu-item-title { margin-right: 5px; }

        * {
            display: inline-block;
            vertical-align: middle;
            line-height: 42px;
        }
    }    
}