.pagination-wrapper {
    position: relative;
    height: 30px;
    
    .pagination {
        @extend %center-element;
    
        li {
            font-family: 'Open Sans', sans-serif;
            font-size: 20px;
            height: 20px;
            display: inline-block;
            padding: 0 5px;
            cursor: pointer;
            color: $secondary-color;
            
            &:active { transform: translateY(1px); }

            &.active {
                font-weight: bold;
                border: none;
            }
    
            &.previous, &.next {
                width: 15px;
                vertical-align: bottom;
            }
    
            &.previous { background: url("img/arrow-left.png") center no-repeat; }
    
            &.previous a, &.next a {
                display: block;
                height: 20px;
            }
    
            &.next { background: url("img/arrow-right.png") center no-repeat; }
        }
    }
}

