.reviews {
    margin: 20px 0;
    
    .review {
        display: grid;
        grid-template-columns: 60px max-content 150px 1fr;
        grid-template-rows: 25px 25px max-content;
        margin-bottom: 35px;

        .review-logo {
            grid-row-start: 1;
            grid-row-end: span 2;
        }

        .review-name {
            color: #4F4F4F;
            font-size: 18px;
            line-height: 25px;
            padding-right: 10px;
        }

        .review-stars, .review-action {
            color: $primary-color;
        }

        .review-stars > * {
            margin-right: 5px;
        }

        .review-stars > *, .review-action >  * {
            cursor: pointer;
            vertical-align: middle;
        }

        .active-star {
            color: $secondary-color;
        }

        .review-action >  * {
            float: right;
            width: 18px;
            height: 18px;
            margin-right: 10px;
        }

        .review-action > *:active {
            transform: translateY(1px);
        }

        .review-date, .review-comment {
            font-size: 14px;
            line-height: 16px;
        }

        .review-date {
            grid-column-start: 2;
            grid-column-end: three;
            color: #BDBDBD;
        }

        .review-comment {
            grid-column-start: 1;
            grid-column-end: three;
            color: $primary-color;
            margin-top: 20px;
        }
    }
}